<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <%- include('./partials/bootstrap') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    <h1 style="text-align: center;">Welcome to Movie App</h1>
</body>
</html>